<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Web Dev Lab1</title>
 
<style>

body{
    border:3px solid black;
    padding:20px;
    font-family: "Times New Roman", serif;
}

/* Style1 */
.lab{
    color:red;
    text-decoration: underline;
}

/* Style2 */
.green{
    color:green;
    font-weight:bold;
}

/* Style3 */
.info{
    color:black;
}

</style>

</head>

<body>

<center>
    <h1>Welcome to my Web Site</h1>
    <h2 class="lab">Web Development (Lab1)</h2>
</center>

<p>
    <span class="green">Full name:</span>
    <span class="info">youcef megdoud</span>
</p>

<p>
    <span class="green">Age:</span>
    <span class="info">20 years old</span>
</p>

<p>
    <span class="green">Class:</span>
    <span class="info">2nd LMD Computer Science</span>
</p>

<p>
    <span class="green">University:</span>
    <span class="info">University of EL OUED</span>
</p>

</body>
</html>
